$base-color: #F9F9F9;
$base-color-hover: #b3b3b3;
$highlight-color: #56A0F9;
$highlight-color-opacity: rgba(86, 160, 249, .3);
$highlight-color-hover: #6989F5;
$favorite-color: #cf1717;
$favorite-color-hover: #f56262;
$dark-color: #1d1d1d;

$border-radius: 0.3rem;

$breakpoint-medium: 999px;